---
Title: Cake.AliaSql
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.AliaSql is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows the executions of the AliaSql command line database change management tool.
    </p>
</div>